# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# JavaScript / Node
node_modules/
dist/
.eslintcache

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Project specific
data/*.csv
data/*.json
!data/salaries.json
webapp/src/data.json
